.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.visitedStyl{
    background-color: bisque;
}

.goingStyl{
    background-color: grey;
    color: black;
}